/*  1- select p elements and make them red

p{
    color: red;
}
*/


/*2- select p and div elements

p,div{
  
color: blue;
}

/* 3- select p with class mainClass direct child for div with id myDiv and make it styled 

#mydiv > p.mainClass {
    color: aqua;

}

*/

/* 4- select all p inside div and style them*/

div p{
    color: blueviolet;
}



/*5- select input with type text element with class myClass*/

input[type="text"].myClass{
    background-color: red;
}




/*6- select span elements after div

div~span{
    color: chocolate;

}

*/

/*7- select p with class myClass

p.myClass{
    color: blue;
}

*/

/*8- select div with id myDiv 

div#myDiv {
    color: chartreuse;
}

*/